.product-layout {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    gap: 1.7rem;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  @media only screen and (max-width: 980px) {
    .prodouct-layout {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .prodouct-layout {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 567px) {
    .prodouct-layout {
     display: flex;
    
     flex-wrap: wrap;
    }
  }

  .products {
    margin-top: 8rem;
  }
  
  .products-layout {
      display: flex;
      justify-content: space-between;
  }
  
 
  
  .col-3-of-4 {
    text-align: center;
  }
  
  @media only screen and (max-width: 996px) {
    .col-3-of-4 .product-layout {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .col-3-of-4 form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .col-3-of-4 form .item {
    margin-right: 1rem;
  }
  
  .col-3-of-4 form label {
    color: var(--grey1);
  }
  
  .col-3-of-4 form select {
    font-family: "Open Sans", sans-serif;
    padding: 1rem;
    width: 9rem;
    border: 1px solid #f2f2f2;
    outline: none;
  }
  
  .col-3-of-4 form button {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 4rem;
    margin-right: 1rem;
    background-color: var(--primary);
    color: var(--white);
    transition: all 300ms ease-in-out;
  }
  
  .col-3-of-4 form a:hover {
    background-color: var(--black);
  }
  
  @media only screen and (max-width: 768px) {
    .products-layout {
      padding: 0 5rem;
    }
  
    .col-3-of-4 form {
      flex-direction: column;
      align-items: end;
    }
  
    .col-3-of-4 form a {
      margin-right: 0;
    }
  
    .col-3-of-4 form .item {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  
  @media only screen and (max-width: 567px) {
    .col-3-of-4 .product-layout {
      grid-template-columns: 1fr;
    }
  }
  .col-1-of-4{
    margin-top: 10.5rem;
    text-align: start;
    align-items: flex-start;
   
  }
  .col-1-of-4 .block-title {
    color: var(--grey1);
      
    margin-bottom: 1rem;
  }
  
  .col-1-of-4 h3 {
    font-size: 2rem;
    font-weight: inherit;
    text-align: center;
    align-items: center;
    margin-left: 0px;
  }
  
  .col-1-of-4 div {
    margin-bottom: 5rem;
    margin-right: 2.5rem;
  }
  
  .block-content li {
    list-style: none;
  
    margin-bottom: 1rem;
  }
  
  .block-content li label {
    color: var(--grey2);
    margin-left: 0.8rem;

  }
  .block-content li label:hover{
       cursor: pointer;
       color: lightcoral;
  }
  
  .block-content li label small {
    font-size: 1rem;
  }
  
  .block-content li input {
    outline: none;
   vertical-align: middle;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
  }
  
  .pagination span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: var(--black);
    font-size: 1.3rem;
    border: 1px solid var(--grey2);
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  .pagination span.last {
    width: 7rem;
    border-radius: 3rem;
  }
  
  .pagination span:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
  }

  .item-select{

    border-radius: 20px;
    margin: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .products-layout {
      grid-template-columns: 1fr;
      gap: 4rem 0;
    }
  }